* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  display: block; }

em, i {
  font-style: normal; }

input {
  display: block;
  border-style: none; }

b, strong {
  font-weight: normal; }

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont/iconfont.eot");
  /* IE9*/
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("truetype"), url("../iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------header----------------------------------------*/
#header {
  width: 1340px;
  height: 35px;
  background: black;
  margin: 0 auto; }
  #header #header1 {
    font-size: 12px;
    color: white;
    line-height: 35px;
    position: absolute; }
  #header ul {
    width: 385px;
    height: 35px;
    float: right;
    margin-right: 35px; }
  #header .li1 {
    width: 125px;
    float: left;
    color: white;
    position: relative;
    margin-right: 45px; }
    #header .li1 img {
      width: 30px;
      height: 30px;
      margin-top: 3px; }
    #header .li1 span {
      font-size: 12px;
      position: absolute;
      left: 30px;
      top: 10px; }
  #header .li2 {
    width: 85px;
    float: left;
    color: white;
    margin-right: 45px;
    position: relative; }
    #header .li2 img {
      width: 20px;
      height: 20px;
      margin-top: 10px; }
    #header .li2 span {
      font-size: 12px;
      position: absolute;
      left: 30px;
      top: 10px; }
  #header .li3 {
    width: 78px;
    float: left;
    color: white;
    position: relative; }
    #header .li3 img {
      width: 20px;
      height: 20px;
      margin-top: 7px; }
    #header .li3 span {
      font-size: 12px;
      position: absolute;
      left: 30px;
      top: 10px; }

/*-------------------nav-----------------------------*/
#nav {
  width: 1340px;
  height: 62px;
  margin: 0 auto; }
  #nav .img {
    width: 61px;
    height: 62px;
    float: left; }
  #nav #ul1 {
    float: left;
    width: 800px;
    height: 62px; }
    #nav #ul1 .ul1-li1 {
      padding-left: 40px;
      line-height: 62px;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav #ul1 .ul1-li1 .a1 {
        display: block;
        width: 82px;
        height: 62px;
        font-size: 20px;
        color: black; }
    #nav #ul1 .ul1-li2 {
      padding-left: 40px;
      line-height: 62px;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav #ul1 .ul1-li2 .a2 {
        display: block;
        width: 82px;
        height: 62px;
        font-size: 20px;
        color: black; }
    #nav #ul1 .ul1-li3 {
      padding-left: 40px;
      line-height: 62px;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav #ul1 .ul1-li3 .a3 {
        display: block;
        width: 82px;
        height: 62px;
        font-size: 20px;
        color: black; }
    #nav #ul1 .ul1-li4 {
      padding-left: 40px;
      line-height: 62px;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav #ul1 .ul1-li4 .a4 {
        display: block;
        width: 82px;
        height: 62px;
        font-size: 20px;
        color: black; }
    #nav #ul1 .ul1-li5 {
      padding-left: 40px;
      line-height: 62px;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav #ul1 .ul1-li5 .a5 {
        display: block;
        width: 82px;
        height: 62px;
        font-size: 20px;
        color: black; }
    #nav #ul1 .ul1-li6 {
      padding-left: 40px;
      line-height: 62px;
      text-align: center;
      float: left;
      cursor: pointer; }
      #nav #ul1 .ul1-li6 .a6 {
        display: block;
        width: 82px;
        height: 62px;
        font-size: 20px;
        color: black; }
  #nav #ul2 {
    position: absolute;
    left: 800px; }
    #nav #ul2 .li1 {
      float: left; }
      #nav #ul2 .li1 #Inp {
        width: 150px;
        height: 30px;
        position: absolute;
        left: 200px;
        top: 15px;
        font: 14px/30px "";
        border: 1px solid gainsboro; }
      #nav #ul2 .li1 i {
        position: absolute;
        left: 310px;
        top: 12px; }

#nav #ul2 .li2 {
  float: left; }
  #nav #ul2 .li2 img {
    float: left;
    position: absolute;
    left: 380px;
    top: 20px; }
  #nav #ul2 .li2 a {
    display: inline-block;
    color: black;
    font-size: 12px;
    margin-left: 410px;
    margin-top: 25px; }
  #nav #ul2 .li2 span {
    font-size: 12px;
    margin: 0 10px; }
#nav #ul2 .li3 {
  float: left; }
  #nav #ul2 .li3 a {
    display: inline-block;
    color: black;
    font-size: 12px;
    margin-top: 25px;
    margin-right: 30px; }
#nav #ul2 .li4 {
  float: left;
  margin-top: 20px; }

#nav #nav-li1 {
  width: 1340px;
  height: 230px;
  background: white;
  display: none;
  padding-top: 25px;
  position: absolute;
  left: 30px;
  margin-top: 62px; }
  #nav #nav-li1 .navul1 {
    width: 83px;
    height: 230px;
    float: left;
    margin-left: 40px; }
    #nav #nav-li1 .navul1 .nav-ulli1 {
      margin-bottom: 35px; }
      #nav #nav-li1 .navul1 .nav-ulli1 a {
        font-size: 12px;
        color: black; }
    #nav #nav-li1 .navul1 .nav-ulli2 {
      margin-bottom: 35px; }
      #nav #nav-li1 .navul1 .nav-ulli2 a {
        font-size: 12px;
        color: black; }
    #nav #nav-li1 .navul1 .nav-ulli3 {
      margin-bottom: 35px; }
      #nav #nav-li1 .navul1 .nav-ulli3 a {
        font-size: 12px;
        color: black; }
    #nav #nav-li1 .navul1 .nav-ulli4 a {
      font-size: 12px;
      color: black; }
  #nav #nav-li1 .navul2 {
    float: left;
    width: 1000px;
    height: 205px; }
    #nav #nav-li1 .navul2 .nav-ulli5 {
      float: left;
      width: 245px;
      height: 205px;
      margin-left: 95px; }
      #nav #nav-li1 .navul2 .nav-ulli5 img {
        width: 100%;
        height: 160px; }
      #nav #nav-li1 .navul2 .nav-ulli5 p {
        width: 245px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        font-size: 16px; }
    #nav #nav-li1 .navul2 .nav-ulli6 {
      float: left;
      width: 245px;
      height: 205px;
      margin-left: 42px; }
      #nav #nav-li1 .navul2 .nav-ulli6 img {
        width: 100%;
        height: 160px; }
      #nav #nav-li1 .navul2 .nav-ulli6 p {
        width: 245px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        font-size: 16px; }
    #nav #nav-li1 .navul2 .nav-ulli7 {
      float: left;
      width: 245px;
      height: 205px;
      margin-left: 42px; }
      #nav #nav-li1 .navul2 .nav-ulli7 img {
        width: 100%;
        height: 160px; }
      #nav #nav-li1 .navul2 .nav-ulli7 p {
        width: 245px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        font-size: 16px; }

#nav #nav-li2 {
  width: 1340px;
  height: 283px;
  background: white;
  left: 30px;
  display: none;
  padding-top: 25px;
  position: absolute;
  margin-top: 62px; }
  #nav #nav-li2 .navul1 {
    width: 83px;
    height: 230px;
    float: left;
    margin-left: 40px; }
    #nav #nav-li2 .navul1 .nav-ulli1 {
      margin-bottom: 35px; }
      #nav #nav-li2 .navul1 .nav-ulli1 .a7 {
        font-size: 12px;
        color: black; }
    #nav #nav-li2 .navul1 .nav-ulli2 {
      margin-bottom: 35px; }
      #nav #nav-li2 .navul1 .nav-ulli2 .a8 {
        font-size: 12px;
        color: black; }
    #nav #nav-li2 .navul1 .nav-ulli3 {
      margin-bottom: 35px; }
      #nav #nav-li2 .navul1 .nav-ulli3 .a9 {
        font-size: 12px;
        color: black; }
    #nav #nav-li2 .navul1 .nav-ulli4 .a10 {
      font-size: 12px;
      color: black; }

#nav #nav-li1 .navul1 .nav-ulli1:hover a {
  color: red; }

#nav #nav-li1 .navul1 .nav-ulli2:hover a {
  color: red; }

#nav #nav-li1 .navul1 .nav-ulli3:hover a {
  color: red; }

#nav #nav-li1 .navul1 .nav-ulli4:hover a {
  color: red; }

#nav #nav-li1 .nav-ulli5 {
  position: relative;
  text-align: center; }
  #nav #nav-li1 .nav-ulli5 .sp {
    display: none;
    position: absolute;
    left: 72px;
    top: 67px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center; }

#nav #nav-li1 .nav-ulli6 {
  position: relative;
  text-align: center; }
  #nav #nav-li1 .nav-ulli6 .sp {
    display: none;
    position: absolute;
    left: 72px;
    top: 67px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center; }

#nav #nav-li1 .nav-ulli7 {
  position: relative; }
  #nav #nav-li1 .nav-ulli7 .sp {
    position: absolute;
    left: 72px;
    top: 67px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center;
    display: none; }

#nav #nav-li1 .nav-ulli5:hover .sp {
  display: block; }

#nav #nav-li1 .nav-ulli6:hover .sp {
  display: block; }

#nav #nav-li1 .nav-ulli7:hover .sp {
  display: block; }

#nav #nav-li1 .nav-ulli5 .sp:hover {
  background: white;
  color: black; }

#nav #nav-li1 .nav-ulli6 .sp:hover {
  background: white;
  color: black; }

#nav #nav-li1 .nav-ulli7 .sp:hover {
  background: white;
  color: black; }

#nav #nav-li2 .navul1 .nav-ulli1:hover a {
  color: red; }

#nav #nav-li2 .navul1 .nav-ulli2:hover a {
  color: red; }

#nav #nav-li2 .navul1 .nav-ulli3:hover a {
  color: red; }

#nav #nav-li2 .navul1 .nav-ulli4:hover a {
  color: red; }

#nav #nav-li2 .navul3 {
  width: 1060px;
  height: 243px;
  margin-left: 220px; }
  #nav #nav-li2 .navul3 .nav-ulli8 {
    float: left;
    width: 161px;
    height: 243px;
    margin-right: 40px;
    cursor: pointer; }
    #nav #nav-li2 .navul3 .nav-ulli8 img {
      width: 161px;
      height: 192px; }
    #nav #nav-li2 .navul3 .nav-ulli8 p {
      font-size: 12px;
      color: black; }
    #nav #nav-li2 .navul3 .nav-ulli8 em {
      font-size: 12px;
      color: gainsboro; }
  #nav #nav-li2 .navul3 .nav-ulli8:hover .img1 {
    background: #b2b2b2; }
  #nav #nav-li2 .navul3 .nav-ulli8:hover .sp1 {
    display: block; }
  #nav #nav-li2 .navul3 .nav-ulli8 .sp1:hover {
    background: white;
    color: black; }
  #nav #nav-li2 .navul3 .nav-ulli9 {
    float: left;
    width: 161px;
    height: 243px;
    margin-right: 40px; }
    #nav #nav-li2 .navul3 .nav-ulli9 img {
      width: 161px;
      height: 192px; }
  #nav #nav-li2 .navul3 .nav-ulli9:hover img {
    background: #b2b2b2; }
  #nav #nav-li2 .navul3 .nav-ulli9:hover .sp1 {
    display: block; }
  #nav #nav-li2 .navul3 .nav-ulli9 .sp1:hover {
    background: white;
    color: black; }
  #nav #nav-li2 .navul3 .nav-ulli10:hover img {
    background: #b2b2b2; }
  #nav #nav-li2 .navul3 .nav-ulli10:hover .sp1 {
    display: block; }
  #nav #nav-li2 .navul3 .nav-ulli10 .sp1:hover {
    background: white;
    color: black; }
  #nav #nav-li2 .navul3 .nav-ulli11:hover img {
    background: #b2b2b2; }
  #nav #nav-li2 .navul3 .nav-ulli11:hover .sp1 {
    display: block; }
  #nav #nav-li2 .navul3 .nav-ulli11 .sp1:hover {
    background: white;
    color: black; }
  #nav #nav-li2 .navul3 .nav-ulli12:hover img {
    background: #b2b2b2; }
  #nav #nav-li2 .navul3 .nav-ulli12:hover .sp1 {
    display: block; }
  #nav #nav-li2 .navul3 .nav-ulli12 .sp1:hover {
    background: white;
    color: black; }
  #nav #nav-li2 .navul3 .nav-ulli10 {
    float: left;
    width: 161px;
    height: 243px;
    margin-right: 40px; }
    #nav #nav-li2 .navul3 .nav-ulli10 img {
      width: 161px;
      height: 192px; }
    #nav #nav-li2 .navul3 .nav-ulli10 p {
      font-size: 12px;
      color: black; }
    #nav #nav-li2 .navul3 .nav-ulli10 em {
      font-size: 12px;
      color: gainsboro; }
  #nav #nav-li2 .navul3 .nav-ulli11 {
    float: left;
    width: 161px;
    height: 243px;
    margin-right: 40px; }
    #nav #nav-li2 .navul3 .nav-ulli11 img {
      width: 161px;
      height: 192px; }
    #nav #nav-li2 .navul3 .nav-ulli11 p {
      font-size: 12px;
      color: black; }
    #nav #nav-li2 .navul3 .nav-ulli11 em {
      font-size: 12px;
      color: gainsboro; }
  #nav #nav-li2 .navul3 .nav-ulli12 {
    float: left;
    width: 161px;
    height: 243px; }
    #nav #nav-li2 .navul3 .nav-ulli12 img {
      width: 161px;
      height: 192px; }
  #nav #nav-li2 .navul3 p {
    font-size: 12px;
    color: black; }
  #nav #nav-li2 .navul3 em {
    font-size: 12px;
    color: gainsboro; }

#nav #nav-li2 .nav-ulli8 {
  position: relative; }
  #nav #nav-li2 .nav-ulli8 .sp1 {
    position: absolute;
    left: 30px;
    top: 83px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center;
    display: none; }

#nav #nav-li2 .nav-ulli9 {
  position: relative; }
  #nav #nav-li2 .nav-ulli9 .sp1 {
    position: absolute;
    left: 30px;
    top: 83px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center;
    display: none; }

#nav #nav-li2 .nav-ulli10 {
  position: relative; }
  #nav #nav-li2 .nav-ulli10 .sp1 {
    position: absolute;
    left: 30px;
    top: 83px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center;
    display: none; }

#nav #nav-li2 .nav-ulli11 {
  position: relative; }
  #nav #nav-li2 .nav-ulli11 .sp1 {
    position: absolute;
    left: 30px;
    top: 83px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center;
    display: none; }

#nav #nav-li2 .nav-ulli12 {
  position: relative; }
  #nav #nav-li2 .nav-ulli12 .sp1 {
    position: absolute;
    left: 30px;
    top: 83px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    line-height: 30px;
    text-align: center;
    display: none; }

#nav #nav-li3 {
  width: 1340px;
  height: 365px;
  background: white;
  display: none;
  padding-top: 25px;
  position: absolute;
  left: 30px;
  margin-top: 62px; }
  #nav #nav-li3 .navul4 {
    float: left;
    width: 115px;
    height: 180px;
    margin-left: 40px; }
    #nav #nav-li3 .navul4 h4 {
      font-weight: normal;
      font-size: 18px;
      color: black; }
    #nav #nav-li3 .navul4 li {
      line-height: 25px; }
      #nav #nav-li3 .navul4 li a {
        font-size: 12px;
        color: gray; }
  #nav #nav-li3 .navul5 {
    float: left;
    width: 52px;
    height: 180px;
    margin-left: 67px; }
    #nav #nav-li3 .navul5 h4 {
      font-weight: normal;
      font-size: 18px;
      color: black; }
    #nav #nav-li3 .navul5 li {
      line-height: 25px; }
      #nav #nav-li3 .navul5 li a {
        font-size: 12px;
        color: gray; }
  #nav #nav-li3 .navul6 {
    float: left;
    width: 37px;
    height: 180px;
    margin-left: 71px; }
    #nav #nav-li3 .navul6 h4 {
      font-weight: normal;
      font-size: 18px;
      color: black; }
    #nav #nav-li3 .navul6 li {
      line-height: 25px; }
      #nav #nav-li3 .navul6 li a {
        font-size: 12px;
        color: gray; }
  #nav #nav-li3 .navul7 {
    float: left;
    width: 37px;
    height: 180px;
    margin-left: 85px; }
    #nav #nav-li3 .navul7 h4 {
      font-weight: normal;
      font-size: 18px;
      color: black; }
    #nav #nav-li3 .navul7 li {
      line-height: 25px; }
      #nav #nav-li3 .navul7 li a {
        font-size: 12px;
        color: gray; }
  #nav #nav-li3 .navul8 {
    float: left;
    width: 50px;
    height: 180px;
    margin-left: 85px; }
    #nav #nav-li3 .navul8 h4 {
      font-weight: normal;
      font-size: 18px;
      color: black; }
    #nav #nav-li3 .navul8 li {
      line-height: 25px; }
      #nav #nav-li3 .navul8 li a {
        font-size: 12px;
        color: gray; }
  #nav #nav-li3 .navul9 {
    float: left;
    width: 400px;
    height: 325px;
    margin-left: 85px; }
    #nav #nav-li3 .navul9 h4 {
      height: 30px;
      font-weight: normal;
      font-size: 18px;
      color: black; }
    #nav #nav-li3 .navul9 .nav-ulli10 {
      float: left;
      width: 120px;
      height: 150px;
      margin-right: 20px; }
      #nav #nav-li3 .navul9 .nav-ulli10 img {
        width: 120px;
        height: 120px; }
      #nav #nav-li3 .navul9 .nav-ulli10 p {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: gainsboro; }
    #nav #nav-li3 .navul9 .nav-ulli11 {
      float: left;
      width: 120px;
      height: 150px;
      margin-right: 20px; }
      #nav #nav-li3 .navul9 .nav-ulli11 img {
        width: 120px;
        height: 120px; }
      #nav #nav-li3 .navul9 .nav-ulli11 p {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: gainsboro; }
    #nav #nav-li3 .navul9 .nav-ulli12 {
      float: left;
      width: 120px;
      height: 150px; }
      #nav #nav-li3 .navul9 .nav-ulli12 img {
        width: 120px;
        height: 120px; }
      #nav #nav-li3 .navul9 .nav-ulli12 p {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: gainsboro; }
    #nav #nav-li3 .navul9 .nav-ulli13 {
      float: left;
      width: 120px;
      height: 150px;
      margin-right: 20px; }
      #nav #nav-li3 .navul9 .nav-ulli13 img {
        width: 120px;
        height: 120px; }
      #nav #nav-li3 .navul9 .nav-ulli13 p {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: gainsboro; }
    #nav #nav-li3 .navul9 .nav-ulli14 {
      float: left;
      width: 120px;
      height: 150px;
      margin-right: 20px; }
      #nav #nav-li3 .navul9 .nav-ulli14 img {
        width: 120px;
        height: 120px; }
      #nav #nav-li3 .navul9 .nav-ulli14 p {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: gainsboro; }
    #nav #nav-li3 .navul9 .nav-ulli15 {
      float: left;
      width: 120px;
      height: 150px; }
      #nav #nav-li3 .navul9 .nav-ulli15 img {
        width: 120px;
        height: 120px; }
      #nav #nav-li3 .navul9 .nav-ulli15 p {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: gainsboro; }
  #nav #nav-li3 .navul10 {
    position: absolute;
    top: 270px;
    left: 40px; }
    #nav #nav-li3 .navul10 li a {
      font-size: 12px;
      color: black; }
    #nav #nav-li3 .navul10 li span {
      font-size: 12px;
      color: black;
      display: inline-block;
      margin-left: 10px; }

#nav #nav-li3 .navul4 h4:hover {
  color: red; }

#nav #nav-li3 .navul4 li a:hover {
  color: red; }

#nav #nav-li3 .navul5 h4:hover {
  color: red; }

#nav #nav-li3 .navul5 li a:hover {
  color: red; }

#nav #nav-li3 .navul6 h4:hover {
  color: red; }

#nav #nav-li3 .navul6 li a:hover {
  color: red; }

#nav #nav-li3 .navul7 h4:hover {
  color: red; }

#nav #nav-li3 .navul7 li a:hover {
  color: red; }

#nav #nav-li3 .navul8 h4:hover {
  color: red; }

#nav #nav-li3 .navul8 li a:hover {
  color: red; }

#nav #nav-li3 .navul9 h4:hover {
  color: red; }

#nav #nav-li3 .navul9 li:hover p {
  color: red; }

#nav #nav-li3 .navul10 li:hover span {
  color: red; }

#nav #nav-li3 .navul10 li:hover a {
  color: red; }

#nav #nav-li6 {
  width: 1340px;
  height: 283px;
  background: white;
  display: none;
  padding-top: 25px;
  position: absolute;
  left: 30px;
  margin-top: 62px; }
  #nav #nav-li6 ul .ul-li1 {
    float: left;
    width: 265px;
    height: 220px;
    margin-left: 43px; }
    #nav #nav-li6 ul .ul-li1 img {
      width: 100%;
      height: 175px; }
    #nav #nav-li6 ul .ul-li1 p {
      width: 100%;
      height: 45px;
      text-align: center;
      line-height: 45px;
      font-size: 18px;
      color: black; }
  #nav #nav-li6 ul .ul-li2 {
    float: left;
    width: 265px;
    height: 220px;
    margin-left: 43px; }
    #nav #nav-li6 ul .ul-li2 img {
      width: 100%;
      height: 175px; }
    #nav #nav-li6 ul .ul-li2 p {
      width: 100%;
      height: 45px;
      text-align: center;
      line-height: 45px;
      font-size: 18px;
      color: black; }
  #nav #nav-li6 ul .ul-li3 {
    float: left;
    width: 265px;
    height: 220px;
    margin-left: 43px; }
    #nav #nav-li6 ul .ul-li3 img {
      width: 100%;
      height: 175px; }
    #nav #nav-li6 ul .ul-li3 p {
      width: 100%;
      height: 45px;
      text-align: center;
      line-height: 45px;
      font-size: 18px;
      color: black; }

/*------------------banner----------------------------------*/
#banner {
  width: 1340px;
  height: 590px;
  margin: 0 auto;
  border: 1px solid gray;
  position: relative;
  overflow: hidden; }
  #banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1340px;
    height: 590px; }
  #banner p {
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    border: 1px solid white;
    color: white;
    left: 515px;
    top: 430px;
    z-index: 10; }
  #banner span {
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    border: 1px solid white;
    color: white;
    left: 685px;
    top: 430px;
    z-index: 10; }
  #banner #ulBtn {
    position: absolute;
    left: 658px;
    top: 545px; }
    #banner #ulBtn li {
      float: left;
      margin-left: 20px;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      text-align: center; }

#banner p:hover {
  background: black; }

/*# sourceMappingURL=shouye.css.map */
