@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

em,i{
    font-style: normal;
}
input{
    display: block;
    border-style:none;
}
b,strong{
    font-weight: normal;
}
@font-face {font-family: 'iconfont';
            src: url('../iconfont/iconfont.eot'); /* IE9*/
            src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
            url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
        .iconfont{
            font-family:"iconfont" !important;
            font-size:30px;font-style:normal;           
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
               -moz-osx-font-smoothing: grayscale;
               }
html,body{
    width:100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}               
/*------------------header----------------------------------------*/
#header{
        width:1340px;
        height:35px;
        background:black;
        margin:0 auto;
        #header1{
            font-size: 12px;
            color:white;
            line-height: 35px;
            position: absolute;
            
        }
        ul{
            width:385px;
            height:35px;
            float:right;
            margin-right:35px;
        }
        .li1{
            width:125px;           
            float: left;
            color:white; 
            position: relative;  
             margin-right:45px;      
            img{
                width:30px;
                height:30px;                 
                margin-top:3px;                             
            }
            span{
               font-size: 12px;
               position: absolute;
               left:30px;top:10px;
            }
        }
        .li2{
            width:85px;           
            float: left;
            color:white; 
            margin-right:45px;
            position: relative;        
            img{
                width:20px;
                height:20px;                 
                margin-top:10px;                             
            }
            span{
               font-size: 12px;
               position: absolute;
               left:30px;top:10px;
            }
        }
        .li3{
            width:78px;           
            float: left;
            color:white; 
            position: relative;        
            img{
                width:20px;
                height:20px;                 
                margin-top:7px;                             
            }
            span{
               font-size: 12px;
               position: absolute;
               left:30px;top:10px;
            }
        }
}
/*-------------------nav-----------------------------*/
#nav{
    width:1340px;
    height:62px;  
    margin:0 auto;
    margin-bottom: 73px;
    .img{
        width:61px;
        height:62px;
        float: left;
    }
    #ul1{       
        float:left;
        width:800px;
        height:62px;
        
        .ul1-li1{
           
            padding-left:40px;
            line-height: 62px;
            text-align: center;
            float: left;
            cursor: pointer;
            .a1{
                display: block;
                 width:82px;
                 height:62px;
                font-size: 20px;
                color:black;
            }
        }
        .ul1-li2{
            
            padding-left:40px;
            line-height: 62px;
            text-align: center;
            float: left;
            cursor: pointer;
            .a2{
                 display: block;
                 width:82px;
                 height:62px;
                font-size: 20px;
                color:black;
            }
        }
        .ul1-li3{
            padding-left:40px;
            line-height: 62px;
            text-align: center;
            float: left;
            cursor: pointer;
            .a3{
                 display: block;
                 width:82px;
                 height:62px;
                font-size: 20px;
                color:black;
            }
        }
        .ul1-li4{
            padding-left:40px;
            line-height: 62px;
            text-align: center;
            float: left;
            cursor: pointer;
            .a4{
                display: block;
                 width:82px;
                 height:62px;
                font-size: 20px;
                color:black;
            }
        }
        .ul1-li5{
            padding-left:40px;
            line-height: 62px;
            text-align: center;
            float: left;
            cursor: pointer;
           .a5{
                display: block;
                 width:82px;
                 height:62px;
                font-size: 20px;
                color:black;
            }
        }
        .ul1-li6{
            padding-left:40px;
            line-height: 62px;
            text-align: center;
            float: left;
            cursor: pointer;
            .a6{
                 display: block;
                 width:82px;
                 height:62px;
                font-size: 20px;
                color:black;
            }
        }
    }
    #ul2{
           position: absolute;
           left:800px;
        .li1{
            float: left;
            
             #Inp{
                 width: 150px;
                 height:30px;            
                 position: absolute;
                 left:200px;
                 top:15px;
                 font:14px/30px "";                 
                 border:1px solid gainsboro;   
                
             }
              i{
                 position: absolute;
                 left:310px;
                 top:12px;
                }
        }
    }
}
#nav {
    #ul2{
        .li2{
            float: left;
            
            img{
                float: left;
                position: absolute;
                left:380px;
                top:20px;
            }
            a{              
                display: inline-block;
                 color:black;
                font-size: 12px;
                margin-left:410px;
                margin-top:25px;
            }
            span{
                font-size: 12px;                
                margin:0 10px;
            }
        }
        .li3{
            float: left;
             a{
                display: inline-block;
                color:black;
                font-size: 12px;
                margin-top:25px;
                margin-right:30px;
            }
        }
        .li4{
            float: left;
            margin-top:20px;
        }
    }
}
#nav #nav-li1{
    width:1340px;
    height:230px;
    background:white;
    display: none;  
    padding-top:25px;
    position: absolute;
    left:30px;
    z-index: 1000;
    margin-top:62px ;
  .navul1{
       width:83px;
       height:230px;
       float: left;
       margin-left:40px;
       .nav-ulli1{
           margin-bottom: 35px;
           a{
               font-size: 12px;
               color:black;
           }
       }
       .nav-ulli2{
           margin-bottom: 35px;
           a{
               font-size: 12px;
               color:black;
           }
       }
       .nav-ulli3{
           margin-bottom: 35px;
           a{
               font-size: 12px;
               color:black;
           }
       }
       .nav-ulli4{
              
           a{
               font-size: 12px;
               color:black;
           }
       }
   }
   
   
   .navul2{
       float: left;
       width:1000px;
       height:205px;
      
       .nav-ulli5{
          float: left;
          width:245px;
          height:205px;
          margin-left:95px;
          img{
              width:100%;
              height:160px;
          }
         p{
             width:245px;
             height:45px;
             text-align: center;
             line-height: 45px;
             font-size: 16px;
         }
       }
       .nav-ulli6{
           float: left;
           width:245px;
          height:205px;
           margin-left:42px;
          img{
              width:100%;
              height:160px;
          }
         p{
             width:245px;
             height:45px;
             text-align: center;
             line-height: 45px;
             font-size: 16px;
         }
       }
       .nav-ulli7{
           float: left;
           width:245px;
          height:205px;
           margin-left:42px;
          img{
              width:100%;
              height:160px;
          }
         p{
             width:245px;
             height:45px;
             text-align: center;
             line-height: 45px;
             font-size: 16px;
         }
       }
   }
}
#nav #nav-li2{
  width:1340px;
  height:283px;
  background:white;
  z-index: 1000;
   left:30px;
  display: none; 
  padding-top:25px;
 position: absolute;
  margin-top:62px ;
  .navul1{
     width:83px;
     height:230px;
    float: left;
     margin-left:40px;
 .nav-ulli1{
         margin-bottom: 35px;
        .a7{
            font-size: 12px;
            color:black;
        }
     }
     
     .nav-ulli2{
           margin-bottom: 35px;
           .a8{
               font-size: 12px;
               color:black;
           }
       }
       .nav-ulli3{
           margin-bottom: 35px;
           .a9{
               font-size: 12px;
               color:black;
           }
       }
       .nav-ulli4{
              
           .a10{
               font-size: 12px;
               color:black;
           }
       }
     
     
     }
}
#nav #nav-li1 .navul1 .nav-ulli1:hover a{      
    color:red;
}
#nav #nav-li1 .navul1 .nav-ulli2:hover a{
    color:red;
}
#nav #nav-li1 .navul1 .nav-ulli3:hover a{
    color:red;
}
#nav #nav-li1 .navul1 .nav-ulli4:hover a{
    color:red;
}
#nav #nav-li1 .nav-ulli5{
    position: relative;
    text-align: center;
    .sp{
        display: none;
        position: absolute;
        left:72px;
        top:67px;        
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
    }
}
#nav #nav-li1 .nav-ulli6{
    position: relative;
    text-align: center;
    .sp{
        display: none;
        position: absolute;
        left:72px;
        top:67px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
    }
}
#nav #nav-li1 .nav-ulli7{
    position: relative;
   
    .sp{
       
        position: absolute;
        left:72px;
        top:67px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
        display: none;
    }
}
#nav #nav-li1 .nav-ulli5:hover .sp{
    display: block;
}
#nav #nav-li1 .nav-ulli6:hover .sp{
    display: block;
}
#nav #nav-li1 .nav-ulli7:hover .sp{
    display: block;
}
#nav #nav-li1 .nav-ulli5 .sp:hover{
    
    background: white;
    color:black;
}
#nav #nav-li1 .nav-ulli6 .sp:hover{
     
    background: white;
    color:black;
}
#nav #nav-li1 .nav-ulli7 .sp:hover{
    
    background: white;
    color:black;
}

#nav #nav-li2 .navul1 .nav-ulli1:hover a{      
    color:red;
}
#nav #nav-li2 .navul1 .nav-ulli2:hover a{
    color:red;
}
#nav #nav-li2 .navul1 .nav-ulli3:hover a{
    color:red;
}
#nav #nav-li2 .navul1 .nav-ulli4:hover a{
    color:red;
}

#nav #nav-li2 .navul3{
     width:1060px;
     height:243px;
    
     margin-left:220px;
    .nav-ulli8{
        float: left;
        width:161px;
        height:243px;
       
        margin-right:40px;
        cursor: pointer;
        img{
            width:161px;
            height:192px;
        }
        p{
            font-size: 12px;
            color:black;
        }
        em{
            font-size: 12px;
            color:gainsboro;
        }
    }
    .nav-ulli8:hover .img1{
        background:#b2b2b2;
       
    }
    .nav-ulli8:hover .sp1{
        display: block;
    }
    .nav-ulli8 .sp1:hover{
        background: white;
        color:black;
    }
    
    
    .nav-ulli9{
        float: left;
        width:161px;
        height:243px;
       
         margin-right:40px;
        img{
            width:161px;
            height:192px;
        }
    }
    
    .nav-ulli9:hover img{
        background:#b2b2b2;
        
    }
    .nav-ulli9:hover .sp1{
        display: block;
    }
    .nav-ulli9 .sp1:hover{
        background: white;
        color:black;
    }
    
     .nav-ulli10:hover img{
        background:#b2b2b2;
        
    }
    .nav-ulli10:hover .sp1{
        display: block;
    }
    .nav-ulli10 .sp1:hover{
        background: white;
        color:black;
    }
    
     .nav-ulli11:hover img{
        background:#b2b2b2;
        
    }
    .nav-ulli11:hover .sp1{
        display: block;
    }
    .nav-ulli11 .sp1:hover{
        background: white;
        color:black;
    }
    
     .nav-ulli12:hover img{
        background:#b2b2b2;
        
    }
    .nav-ulli12:hover .sp1{
        display: block;
    }
    .nav-ulli12 .sp1:hover{
        background: white;
        color:black;
    }
    .nav-ulli10{
        float: left;
        width:161px;
        height:243px;
       
        margin-right:40px;
        img{
            width:161px;
            height:192px;
        }
        p{
            font-size: 12px;
            color:black;
        }
        em{
            font-size: 12px;
            color:gainsboro;
        }
    }
    .nav-ulli11{
        float: left;
        width:161px;
        height:243px;
       
        margin-right:40px;
        img{
            width:161px;
            height:192px;
        }
        p{
            font-size: 12px;
            color:black;
        }
        em{
            font-size: 12px;
            color:gainsboro;
        }
    }
    .nav-ulli12{
        float: left;
        width:161px;
        height:243px;
       
        img{
            width:161px;
            height:192px;
        }
    }
    p{
            font-size: 12px;
            color:black;
        }
        em{
            font-size: 12px;
            color:gainsboro;
        }
}
#nav #nav-li2 .nav-ulli8{
    position: relative;
    .sp1{       
        position: absolute;
        left:30px;
        top:83px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
       display: none;
    }
}
#nav #nav-li2 .nav-ulli9{
    position: relative;
    .sp1{       
        position: absolute;
        left:30px;
        top:83px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
       display: none;
    }
}
#nav #nav-li2 .nav-ulli10{
    position: relative;
    .sp1{       
        position: absolute;
        left:30px;
        top:83px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
        display: none;
    }
}
#nav #nav-li2 .nav-ulli11{
    position: relative;
    .sp1{       
        position: absolute;
        left:30px;
        top:83px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
        display: none;
    }
}
#nav #nav-li2 .nav-ulli12{
    position: relative;
    .sp1{       
        position: absolute;
        left:30px;
        top:83px;       
        width: 100px;
        height:30px;
        font-size: 12px;
        border:1px solid white;
        color:white;
        line-height: 30px;
        text-align: center;
        display: none;
    }
}

#nav #nav-li3{
      width:1340px;
      height:365px; 
      z-index: 1000;  
      background:white; 
      display: none; 
      padding-top:25px;
     position: absolute;
     left:30px;
      margin-top:62px ;
  .navul4{
      float:left;
      width:115px;
      height:180px;
    
      margin-left:40px;
      h4{
          font-weight:normal;
          font-size: 18px;
          color:black;
      }
      li{
          line-height: 25px;
          a{
              font-size: 12px;
              color:gray;
          }
      }
  }
  
  .navul5{
      float:left;
      width:52px;
      height:180px;
    
      margin-left:67px;
      h4{
          font-weight:normal;
          font-size: 18px;
          color:black;
      }
      li{
          line-height: 25px;
          a{
              font-size: 12px;
              color:gray;
          }
      }
  }
  
    .navul6{
      float:left;
      width:37px;
      height:180px;
     
      margin-left:71px;
      h4{
          font-weight:normal;
          font-size: 18px;
          color:black;
      }
      li{
          line-height: 25px;
          a{
              font-size: 12px;
              color:gray;
          }
      }
  }
  
  .navul7{
      float:left;
      width:37px;
      height:180px;
    
      margin-left:85px;
      h4{
          font-weight:normal;
          font-size: 18px;
          color:black;
      }
      li{
          line-height: 25px;
          a{
              font-size: 12px;
              color:gray;
          }
      }
  }
  
    .navul8{
      float:left;
      width:50px;
      height:180px;
    
      margin-left:85px;
      h4{
          font-weight:normal;
          font-size: 18px;
          color:black;
      }
      li{
          line-height: 25px;
          a{
              font-size: 12px;
              color:gray;
          }
      }
  }
  
  .navul9{
      float:left;
      width:400px;
      height:325px;
     
      margin-left:85px;
      h4{
          height:30px;
          font-weight:normal;
          font-size: 18px;
          color:black;
      }
      .nav-ulli10{
          float: left;
          width:120px;
          height:150px;
          margin-right:20px;
          img{
              width:120px;
              height:120px;
          }
          p{
              height:30px;
              line-height: 30px;
              text-align: center;
              font-size: 12px;
              color:gainsboro;
          }
      }
      
       .nav-ulli11{
          float: left;
          width:120px;
          height:150px;
           margin-right:20px;
          img{
              width:120px;
              height:120px;
          }
          p{
              height:30px;
              line-height: 30px;
              text-align: center;
              font-size: 12px;
              color:gainsboro;
          }
      }
      
      .nav-ulli12{
          float: left;
          width:120px;
          height:150px;
          img{
              width:120px;
              height:120px;
          }
          p{
              height:30px;
              line-height: 30px;
              text-align: center;
              font-size: 12px;
              color:gainsboro;
          }
      }
      
      .nav-ulli13{
          float: left;
          width:120px;
          height:150px;
          margin-right:20px;
          img{
              width:120px;
              height:120px;
          }
          p{
              height:30px;
              line-height: 30px;
              text-align: center;
              font-size: 12px;
              color:gainsboro;
          }
      }
      
      .nav-ulli14{
          float: left;
          width:120px;
          height:150px;
          margin-right:20px;
          img{
              width:120px;
              height:120px;
          }
          p{
              height:30px;
              line-height: 30px;
              text-align: center;
              font-size: 12px;
              color:gainsboro;
          }
      }
      
      .nav-ulli15{
          float: left;
          width:120px;
          height:150px;
          img{
              width:120px;
              height:120px;
          }
          p{
              height:30px;
              line-height: 30px;
              text-align: center;
              font-size: 12px;
              color:gainsboro;
          }
      }
  }
  .navul10{
      position: absolute;
      top:270px;
      left:40px;
      li{
          a{
              font-size: 12px;
              color:black;
          }
          span{
              font-size: 12px;
              color:black;
              display: inline-block;
              margin-left:10px;
          }
      }
  }  
}

#nav #nav-li3 .navul4 h4:hover{
    color:red;
}
#nav #nav-li3 .navul4 li a:hover{
    color:red;
}
#nav #nav-li3 .navul5 h4:hover{
    color:red;
}
#nav #nav-li3 .navul5 li a:hover{
    color:red;
}

#nav #nav-li3 .navul6 h4:hover{
    color:red;
}
#nav #nav-li3 .navul6 li a:hover{
    color:red;
}

#nav #nav-li3 .navul7 h4:hover{
    color:red;
}
#nav #nav-li3 .navul7 li a:hover{
    color:red;
}

#nav #nav-li3 .navul8 h4:hover{
    color:red;
}
#nav #nav-li3 .navul8 li a:hover{
    color:red;
}

#nav #nav-li3 .navul9 h4:hover{
    color:red;
}
#nav #nav-li3 .navul9 li:hover p{
    color:red;
}

#nav #nav-li3 .navul10 li:hover span{
    color:red;
}
#nav #nav-li3 .navul10 li:hover a{
  color:red;
}

#nav #nav-li6{
  width:1340px;
  height:283px;
  z-index: 1000;
   background:white;
  display: none; 
  padding-top:25px;
 position: absolute;
 left:30px;
  margin-top:62px ;
  ul{
      .ul-li1{
          float: left;
          width:265px;
          height:220px;
          margin-left:43px;
          img{
              width:100%;
              height:175px;
          }
          p{
             width:100%;
             height:45px;  
             text-align: center;
             line-height: 45px;
             font-size: 18px;
             color:black;
          }
      }
            .ul-li2{
          float: left;
          width:265px;
          height:220px;
           margin-left:43px;
          img{
              width:100%;
              height:175px;
          }
          p{
             width:100%;
             height:45px;  
             text-align: center;
             line-height: 45px;
             font-size: 18px;
             color:black;
          }
      }
            .ul-li3{
          float: left;
          width:265px;
          height:220px;
           margin-left:43px;
          img{
              width:100%;
              height:175px;
          }
          p{
             width:100%;
             height:45px;  
             text-align: center;
             line-height: 45px;
             font-size: 18px;
             color:black;
          }
      }
  }
}
/*----------------登录---------------------------------*/
#reg{
    width:872px;
    height:667px;
    margin:0 auto;
    margin-top:74px;
    h4{
        width:100%;
        height:75px;
        border:1px solid red;
        font-size: 28px;
    }
    span{
        display: block;
        font-size: 16px;
    }
    .reg-left{
        width:404px;
        height:603px;
        float: left;
        position: relative;   
        border:1px solid red;
        #Npt1{
            width:100%;
            height:50px;
            margin-top:10px;
            border:1px solid gray;
        }
        #em1{
            display: block;
            
            font-size: 12px;
            color:red;
            
        }
        #em2{
            display: block;
           
            font-size: 12px;
            color:red;
            
        }
        #em3{
            display: block;
            
            font-size: 12px;
            color:red;
            
        }
        #Npt2{
            width:200px;
            height:50px;
            border:1px solid gray;
            display: inline-block;
            margin-top:10px;
        }
        #Npt3{
            width:100px;
            height:50px;
            border:1px solid gray;
            margin-top:10px;
            display: inline-block;
        }
        a{
            color:black;
            text-decoration: underline;
        }
        #Npt4{
            width:100%;
            height:50px;
            margin-top:10px;
            border:1px solid gray;
        }
        #i1{
            display: inline-block;
            float: left;
            width:195px;
            height:50px;
            border:1px solid gray;
            text-align: center;
            line-height: 50px;
            font-size: 12px;
            margin-right:10px;
        }
        #i2{
            display: inline-block;
            float: left;
            width:195px;
            height:50px;
            border:1px solid gray;
            text-align: center;
            line-height: 50px;
            font-size: 12px;
        }
        #Npt5{
            width:25px;
            height:25px;
           display: inline-block;
            
        }
        b{
            
            margin-left:15px;
            font-size: 14px;                               
        }
        #Npt6{
            width:25px;
            height:25px; 
                   
        }
        strong{
            font-size: 12px;
            float: left;
            position: absolute;
            left:40px;
            top:470px;
        }
        #reg-p{
            width:100%;
            height:60px;
            text-align: center;
            line-height: 60px;
            background:#ea212e;
            font-size: 24px;
            color:white;
            margin-top:55px;
        }
        
    }
    #reg-right{
        width:400px;
        height:603px;
        border:1px solid red;
        position: relative;
        margin-left: 62px;
        float: left;
        #Npt7{
            width:100%;
            height:50px;
            border:1px solid gray;
            margin-bottom: 30px;
        }
        #Npt8{
            width:300px;
            height:50px;
            border:1px solid gray;
            margin-bottom: 30px;
            display: inline-block;
        }
        span{
            display: block;
            margin-bottom: 10px;
        }
        .reg-i{
            display: inline-block;
            width:95px;
            height:50px;
            text-align: center;
            line-height: 45px;
            color:white;
            background: gray;
        }
        #Npt9{
            width:100%;
            height:50px;
            border:1px solid gray;
            margin-bottom: 30px;
        }
        .em4{
            font-size: 16px;
            position: absolute;
            top:565px;
        }
        .a1{
            font-size: 16px;
            position:absolute;
            color:black;
            text-decoration: underline;
            left:90px;
            top:565px;
        }
    }
}
/*---------------------main3----------------------------------*/
#main3{
        width:1340px;
        height:70px;       
        margin:0 auto;
        border-top:5px solid black;
        margin-top:100px ;
        position: relative;
        p{
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            left:45px;
            top:30px;
        }
        ul{
            width:385px;
            height:35px;
            float:right;
            margin-right:35px;
        }
        .li1{
            width:125px;           
            float: left;
            color:white; 
            position: relative;  
             margin-right:45px;      
            img{
                width:30px;
                height:30px;                 
                margin-top:13px;                             
            }
            span{
               font-size: 12px;
               color:black;
               position: absolute;
               left:40px;top:20px;
            }
        }
        .li2{
            width:85px;           
            float: left;
            color:white; 
            margin-right:45px;
            position: relative;        
            img{
                width:20px;
                height:20px;                 
                margin-top:20px;                             
            }
            span{
               font-size: 12px;
               color:black;
               position: absolute;
               left:30px;top:20px;
            }
        }
        .li3{
            width:78px;           
            float: left;
            color:white; 
            position: relative;        
            img{
                width:20px;
                height:20px;                 
                margin-top:17px;                             
            }
            span{
               font-size: 12px;
               color:black;
               position: absolute;
               left:30px;top:20px;
            }
        }
}
/*------------------footer--------------------------------*/
#footer{
    width:1340px;
    height:310px;
    background:#f5f5f5;
    padding-top:30px;
    padding-left:40px;
    position: relative;
    .foot-ul{
        width:630px;
        height:180px;
        border-right:1px solid gray;
        float: left;
    .foot-ul1{
        width:76px;
        height:180px;
        float:left;
        
        h5{
        font-size: 14px;
        color:black;
        margin-bottom: 12px;
    }
       li{
        font-size: 12px;
        color:#4c4c4c;
        line-height: 32px;
    } 
    }
    
    .foot-ul2{
        width:108px;
        height:180px;
        float:left;
        margin-left:200px;
        
        h5{
        font-size: 14px;
        color:black;
        margin-bottom: 12px;
    }
       li{
        font-size: 12px;
        color:#4c4c4c;
        line-height: 32px;
    } 
    }
    }
    .foot-div{
        float: left;
        width:460px;
        height:180px;
        
        margin-left:245px;
        h6{
            font-size: 14px;
            color:black;
        }
        #Inp2{
            width:300px;
            height:40px;
            border:1px solid black;
            float: left;
            text-indent: 2em;
        }
        span{
            display: inline-block;
            width:90px;
            height:40px;
            background:black;
            color:white;
            text-align: center;
            line-height: 40px;
        }
        em{
            display: block;
            width:60px;
            height:14px;
            font-size: 14px;
            color:black;
            font-weight:bold ;
            margin-top:35px;
        }
        #imgf1{
            margin-top:15px;
            float: left;
        }
        #imgf2{
            margin-top:15px;
            margin-left:30px;
            float: left;
        }
    }
    
}
#footer{
    .foot-ul3{
        width:855px;
        height:14px;
       
        position: absolute;
        left:205px;
        top:275px;
        li{
            float: left;
            font-size: 12px;
            span{
                margin-left:15px;
                margin-right:15px;
            }
        }
    }
}
#footer .foot-ul1 li:hover{
    color:red;
}
#footer .foot-ul2 li:hover{
    color:red;
}
#footer .foot-ul3{
    li:nth-child(6){
        background:url(../img/foot3.jpg) no-repeat 0px 0px;
       a{
           padding-left:30px ;
       }
    }
    li:nth-child(7){
        background:url(../img/foot4.jpg) no-repeat;
       a{
           padding-left:30px ;
       }
    }
}

    .Img1{
        width:110px;
        height:110px;
        position: fixed;
        right:0px;
        top:70%;
    }
   
        #p1{
            width:48px;
            height:48px;
           
            position: fixed;
            right:0px;
            top:82%; 
        .Img2{
           transition:1s all;
           
        }
   
   
           
        .Img3{
            
           position: fixed;
            right:0px;
            top:82%; 
           display: none;
        }    
        }   
        
    
 #p1:hover .Img2{
   transform: rotateZ(360deg);
}
#p1:hover .Img3{
    display: block;   
}